@import './reset'
@import './reset'
@import './layout'

.cstd-merchant-download
  font-size 14px
  height 100vh
  text-center()
  background-image linear-gradient(hsla(0,0%,100%,.09) 74%,rgba(0,156,238,.3))
  hgroup
    padding-top 30vh
  h1
    font-size 30px
    font-weight bold
    color #0f87eb
    text-center()
    margin-bottom 20px
  h3
    text-center()
    line-height 1
    margin-bottom 1em
  &__download
    height 40px
    width 60vw
    color #ffffff
    background-color #0f88eb
    border-radius 5px
    box-shadow 0 5px 15px 0 rgba(15,136,235,.1)
    ffc-row()
    display inline-flex
  