@import './reset'

.input
  background-color #F4F4F4
  padding-top 10.6667vw

  form
    width 100%

  &__input
    color #333333

    &:disabled
      color #333333

  &__card-title
    font-size 14px
    color #666666
    width 100%

  &__card
    background-color #fff
    margin 0 4vw 4vw
    padding 2.6667vw
    radius()
    border-box()
    ffc-col()

  &__amount
    height 36.8vw

    h3
      font-size 14px
      color #666666
      width 100%

    &-content
      width 100%
      border-bottom 1px solid #F4F4F4
      height 14vw
      ffc-row(center, flex-end)
      color #333333
      padding-bottom 2.6667vw

      span
        font-size 14px
        margin-right 4vw

      input
        font-size 48px
        line-height 1
        height 100%
        vertical-align baseline
        width 70%

    p
      font-size 12px
      width 100%
      color #999999

  &__channel
    &-label--disable
      opacity 0.2

    h3
      margin-bottom 2.6667vw

    ul
      width 100%
      border-top 1px solid #F4F4F4

    li
      font-size 14px
      border-bottom 1px solid #F4F4F4
      background #ffffff url('../images/wechat.png') no-repeat
      background-size 4.2667vw 4.2667vw
      background-position left center
      padding-left 6.4vw
      transition all 0.3s
      opacity 1

      &:active
        opacity 0.6
        background-color #f8f8ff

      label
        display block
        height 100%
        line-height 9.3333vw
        height 9.3333vw
        ffc-row(space-between)

        span
          display inline-block
          vertical-align middle
          width 4.2667vw
          height 4.2667vw
          background url('../images/radio_uncheck.png') no-repeat
          background-size cover

        input
          visibility hidden

          &:checked
            &+span
              background-image url('../images/radio_checked.png')

    &--alipay
      background-image url('../images/alipay.png') !important

    &--vip
      background-image url('../images/vip.png') !important

  &__submit
    btn()

.layer
  &__message
    position fixed
    left 50%
    top 50%
    font-size 14px
    height 10vw
    line-height 10vw
    width 30vw
    text-align center
    border-radius 1.0667vw
    color #ffffff
    z-index 999
    transform translate3d(-50%, -50%, 0)
    background-color rgba(0, 0, 0, 0.7)
