// @import './reset'
// @import './reset/
@import './layout'

.obs-tutor
  font-size 14px
  color #4F4F4F
  padding 0 3vw
  border-box()

  span
    color #0346CD

  &__title
    text-center()
    margin 5vw 0

    &--sub
      text-align left

  &__step
    width 100%
    height auto