@import './reset'

.tip
  &__header
    page-header()

  &__content
    height 93.3333vw
    width 100%
    ffc-col(flex-start)
    padding-top 26.6667vw
    border-box()

    img
      width auto
      height 20.5333vw
      margin-bottom 4.2667vw

    &-title
      font-size 24px
      color #333333

  &__submit
    btn()